.vs
/1.1/Assemblies/ReviaRace.pdb
/1.2/Assemblies/ReviaRace.pdb
/1.3/Assemblies/ReviaRace.pdb
/Source/UpgradeLog2.htm
/Source/UpgradeLog.htm
/Source/ReviaRace.csproj.user
/Source/obj/Debug
/Source/obj
/Source/TextureMasters/Ears/EarsNorth.kra~
/Source/TextureMasters/Ears/EarsSouth.kra~
*.kra~
*.png~

*.suo
*.cache
*/Thumbs.db
/Source/.vs/*
/Source/*/*/obj/*
/Source/*/*/bin/*
/Source/*/*.csproj.user
.vscode
# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.pdb
 
# Ignore RimWorld assemblies 
Assembly-CSharp.dll 
UnityEngine.dll 

# Exclude optimized .dds textures from RimPy / png2dds
*.dds


.idea/
/Source/FA_Patch/obj
/Source/Main/obj/Debug
/Source/Main/obj
