.vs
/1.1/Assemblies/ReviaRace.pdb
/Source/UpgradeLog2.htm
/Source/UpgradeLog.htm
/Source/ReviaRace.csproj.user
/Source/obj/Debug
/Source/obj
/Source/TextureMasters/Ears/EarsNorth.kra~
/Source/TextureMasters/Ears/EarsSouth.kra~
*.kra~
